:root {
  --bgColor: #02021b;
  --blueColor: #004471;
  --purpleColor: #7e006b;
  --grayColor: rgb(180, 180, 180);
  --whiteColor: antiquewhite;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  list-style: none;
  text-decoration: none;
}
body {
  background-color: var(--bgColor);
  color: var(--whiteColor);
  height: 100vh;
  overflow: hidden;
}
.counter{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.counter.hidden{
  transform: translate(-50%, -50%) scale(0);
  animation: hidden .5s ease-out;
}
.final{
  position: fixed;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%) scale(0);
}
.final.show{
  transform: translate(-50%, -50%) scale(1);
  animation: show .5s ease-out;
}
@keyframes hidden {
  0%{
    transform: translate(-50%, -50%) scale(1);
  }
  100%{
    transform: translate(-50%, -50%) scale(0);
  }
}
@keyframes show {
  0%{
    transform: translate(-50%, -50%) scale(0);
  }
  30%{
    transform: translate(-50%, -50%) scale(1.4);
  }
  100%{
    transform: translate(-50%, -50%) scale(1);
  }
}
.numbers{
  color: #3490db;
  font-size: 50px;
  position: relative;
  overflow: hidden;
  width: 250px;
  height: 60px;
}
.numbers span{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(140deg);
  transform-origin: bottom center;
}
.numbers span.enter{
  transform: translate(-50%, -50%) rotate(0deg);
  animation: startAnimation .7s ease-in-out;
}
.numbers span.out{
  animation: endAnimation .7s ease-in-out;
}
h4{
  font-size: 20px;
  margin: 5px;
  text-transform: uppercase;
  letter-spacing: 1px;
}
#replay{
  margin-top: 3rem;
  padding: .6rem 2rem;
  border-radius: 10px;
  background-color: transparent;
  border: 2px solid var(--whiteColor);
  color: var(--whiteColor);
  transition: all .5s ease-in-out;
  cursor: pointer;
  font-weight: 600;
  letter-spacing: 1px;
}
#replay:hover{
  background-color: var(--whiteColor);
  color: var(--bgColor);
}

@keyframes startAnimation {
  0%{
    transform: translate(-50%, -50%) rotate(140deg);
  }
  33%{
    transform: translate(-50%, -50%) rotate(-20deg);
  }
  66%{
    transform: translate(-50%, -50%) rotate(10deg);
  }
  100%{
    transform: translate(-50%, -50%) rotate(0deg);
  }
}
@keyframes endAnimation {
  0%{
    transform: translate(-50%, -50%) rotate(0deg);
  }
  50%{
    transform: translate(-50%, -50%) rotate(20deg);
  }
  100%{
    transform: translate(-50%, -50%) rotate(-140deg);
  }
}
